NODE_ENV=production
PORT=3000
SESSION_SECRET=
ADMIN_LOGIN=admin
ADMIN_PASSWORD=
ADMIN_USER_LOGIN=user
ADMIN_USER_PASSWORD=
SITE_URL=https://stroydelo.by
ANALYTICS_ID=
MAIL_TO=prof.dialogi@yandex.by
MAIL_FROM=prof.dialogi@yandex.by
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=prof.dialogi@yandex.by
SMTP_PASS=
